<%- include('./templates/header') %>
<div>
  <p><b>Dear <%= username%></b></p>
</div>
<div>
  <p>Please subscribe via this link: <a href="<%= url%>"><%= url%></a></p>
  <%- include('./templates/footer') %>